.container {
    background-color: #03001C;
    height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.functional {
    border-radius: 20px;
    width: 80%;
    height: auto !important;
    margin-top: 3rem;
    margin-left: 10%;
    margin-right: 10%; 
    margin-bottom: 0.7rem;
    background-color: #404258;
    box-shadow: 0px 0px 10px 20px rgba(0, 1, 6, 0.81);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.filters-series, .search-login, .footer, .donate-popular {
    width: 100%;
}

.search-login {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c974e1;
    font-weight: 600;
}

.logo-name {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: 'Creepster', cursive;
    font-weight: 500;
    font-size: 22px;
}

.logo-name:hover {
    cursor: pointer;
}

input[type="text"], textarea {
    background-color: #495579;
    border: none;
    border-radius: 10px;
    width: 60%;
    height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::placeholder { 
    color: #c974e193; 
  }
  
  :-ms-input-placeholder { 
    color: #c974e193; 
  }
  
  ::-ms-input-placeholder {
    color: #c974e193; 
  }

.entry {
  background: #495579;
  border-radius: 999px;
  box-shadow: inset #626b87b5 0 10px 20px -10px;
  box-sizing: border-box;
  color: #c974e1; 
  cursor: pointer;
  font-family: 'Creepster', cursive;
  font-weight: 300;
  width: 7rem;
  border: 0;
  border: none;
  border-radius: 15px;
  height: 3rem;
}

.entry:hover {
    cursor: pointer;
}

.separator {
    background-color: #474E68;
    min-height: 5rem;
}

.donate-popular {
    height: 40%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.donate {
    display: flex;
    flex-direction: column;
    font-family: 'Creepster', cursive;
    font-size: 0.9rem;
    font-weight: 400;
    color: #ff6fffe7;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 50%;
    margin-left: 2.5%;
    background-color:#495579;
    z-index: 98;
    box-shadow: inset 0px 0px 2.5px 5px #626b87b5;
}

.donate:hover {
    cursor: pointer;
}

.donate-why {
    position: absolute;
    z-index: 101;
    top: 85%;
}

.shine {
    width: 8rem;
    height: 2rem;
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    animation: shining 2s linear infinite;
}

@keyframes shining {
    0% {
      box-shadow: 10px 10px 50px #e355ff, -15px -15px 45px #e355ff;
    }
  
    30% {
      box-shadow: 10px 10px 50px #55ccff, -15px -15px 45px #55ccff;
    }
  
    70% {
      box-shadow: 10px 10px 50px #fced45, -15px -15px 45px #fced45;
    }
  
    100% {
      box-shadow: 10px 10px 50px #e355ff, -15px -15px 45px #e355ff;
    }
  }

.donuts {
    z-index: 100;
}

.popular {
    border: solid 1px crimson;
    width: 70%;
    margin-left: 5%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.filters-series {
    background-color: #474E68;
    display: flex;
    justify-content: space-around;
    height: auto !important;
}

.filters {
    border: solid 1px crimson;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.variants {
    display: flex;
    flex-direction: column;
    border: solid 1px crimson;
    width: fit-content;
    width: 70%;
}

.year {
    height: 100px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    flex-direction: column;
}

.footer {
    min-height: 8%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c974e193;
    font-size: 0.7rem;
}

.github {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c974e193;
}

.type, .year, .country, .clear, .subfilters, .subparams, .subsorter, .series {

    border: solid 1px crimson;

}

.subfilters {
    width: 100%;
}

.series {
    width: 100%;
}

.about-container {
    width: 30%;
    height: fit-content;
    align-self: center;
    justify-self: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.vkontakte {
    mask: url(./images/vk.png) center/contain;
    -webkit-mask: url(./images/vk.png) center/contain;
    display: inline-block;
    background-color: #c974e193;
    height: 40px;
    width: 40px;
}
a {
    text-decoration: none;
}

.telegram {
    mask: url(./images/telegram.png) center/contain;
    -webkit-mask: url(./images/telegram.png) center/contain;
    display: inline-block;
    background-color: #c974e193;
    height: 38px;
    width: 38px;
}

.report {
    color: #c974e193;
}

.card {
    border: solid 1px crimson;
    width: 50px;
    height: 50px;
}


