.container {
    background-color: #03001C;
    height: 100vh;
    min-width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: space-between;
}

.functional {
    border-radius: 20px;
    width: 80%;
    height: auto !important;
    margin-top: 3rem;
    margin-left: 10%;
    margin-right: 10%; 
    margin-bottom: 3rem;
    background-color: #404258;
    box-shadow: 0px 0px 10px 20px rgba(0, 1, 6, 0.81);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.filters-series, .search-login, .footer, .donate-popular {
    /* border: solid 1px crimson; */
    width: 100%;
}

.search-login {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c974e1;
    font-weight: 600;
}

.logo-name {
    /* border: solid 1px crimson; */
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo-name:hover {
    cursor: pointer;
}

input[type="text"], textarea {
    background-color: #495579;
    border: none;
    border-radius: 10px;
    width: 60%;
    height: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

::placeholder { 
    color: #c974e193; 
  }
  
  :-ms-input-placeholder { 
    color: #c974e193; 
  }
  
  ::-ms-input-placeholder {
    color: #c974e193; 
  }

.entry {
    background-color: #9F73AB;
    border: none;
    border-radius: 10px;
    height: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    font-weight: 400;
}

.entry:hover {
    cursor: pointer;
}

.separator {
    background-color: #474E68;
    min-height: 5rem;
}

.donate-popular {
    height: 40%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.donate {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
    font-weight: 600;
    color: #ff6fffe7;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    position: sticky;
    height: 50%;
    margin-left: 2%;
    background-color:#495579;
    z-index: 98;
    /* box-shadow: 0px 0px 2.5px 5px #383e51b5; */
    box-shadow: inset 0px 0px 2.5px 5px #626b87b5;
}

.donate:hover {
    cursor: pointer;
}

.shine {
    width: 8rem;
    height: 2rem;
    position: absolute;
    z-index: 99;
    border-radius: 50%;
    animation: shining 2s linear infinite;
}

@keyframes shining {
    0% {
      box-shadow: 10px 10px 50px #e355ff, -15px -15px 45px #e355ff;
    }
  
    30% {
      box-shadow: 10px 10px 50px #55ccff, -15px -15px 45px #55ccff;
    }
  
    70% {
      box-shadow: 10px 10px 50px #fced45, -15px -15px 45px #fced45;
    }
  
    100% {
      box-shadow: 10px 10px 50px #e355ff, -15px -15px 45px #e355ff;
    }
  }

.donuts {
    z-index: 100;
}

.popular {
    border: solid 1px crimson;
    width: 70%;
    margin-left: 5%;
}

.filters-series {
    background-color: #474E68;
}

.year {
    height: 100px;
}

.footer {
    min-height: 8%;
    margin-bottom: 2%;
}

